*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main{
  width: 960px;
  margin: 50px auto;
}

.box {
  position: relative;
  width: 300px;
  float: left;
  margin-right: 30px;
  padding: 10px;
  border: 1px solid #eee;
}

.box:last-child {
  margin-right: 0;
}


.step-img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step-img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step-img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}


.step {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  padding: 3px;
  color: white;
  width: 48.94px;
  height: 30px;
  font-size: 16px;
  font-family: Meiryo;
}

.title {
  margin: 15px 0 5px;
}

@media screen and (max-width:768px) {

main{
  width:90%;
}

.box {
  float: none;
  margin: auto;
  width: 90%;
}

.box:nth-child(2),
.box:nth-child(3){
  margin-top: 20px;
}

.box:last-child {
  margin-right: auto;
}

}}



