*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#6c6b6b;
}

main{
  width: 960px;
  margin: 50px auto;
}

.box{
  position: relative;
  width: 300px;
  float: left;
  border:1px solid gray;
  padding: 10px;
  padding-bottom: 20px;
}

img{
 object-position: contain;
 margin: 0 auto;
 width: 280px;
}

p{
  display:inline-block;
}

.step {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: orange;
  padding: 5px;
  color: white;
}

.box:nth-child(1),
.box:nth-child(2){
  margin-right: 30px;
}

@media screen and (max-width:768px) {
main{
  width:90%;
}

.box{
  margin:50px auto;
}

.box:nth-child(2),
.box:nth-child(3){
  margin-top: 20px;
}

img{
  width:100%;
}}


